body,
html {
    color: rgb(220, 214, 214);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.text-product p span {
    font-family: 'Special Elite', cursive;
    /*
    font-family: 'Akaya Telivigala', cursive;
    */
    color: rgb(220, 214, 214);
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

h3>em {
    text-shadow: none!important;
}

a,
li {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 em {
    color: #0d0b12;
}

p,
textarea,
input,
button,
label,
.btn-success,
.btn-main,
.btn-warning {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 1.2rem;
}

p,
button,
label,
.btn-success,
.btn-main {
    color: rgb(220, 214, 214);
}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

.section-container {
    min-width: 100%;
    color: #0d0b12;
    padding: 0;
    margin: 3.5rem 0 7rem 0;
}

.section-container:last-of-type {
    margin: 3.5rem 0 0 0;
}

.section-container h3 {
    color: #0d0b129e;
}

.section-container p {
    line-height: 1.4rem
}

.section-container .us h5,
.section-container span,
.section-container .us p {
    color: #0d0b12;
}

.section-container h5 {
    font-weight: bold;
}

.section-container span {
    font-weight: bold;
}

.section-title.products h5,
.section-title.products span {
    color: #bab28f;
}

.section-title.products h3 {
    color: #bab28f;
}


/* The hero image */

.bg-main {
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255)), url("https://www.transparenttextures.com/patterns/broken-noise.png");*/
    height: 100vh;
    background-color: #1c1c1c;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    background-attachment: fixed;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /*
    background-color: #1f0008;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
    */
}

.bg-title {
    background-color: #0d0b12d2;
}

.bg-contact {
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
    background-color: #1c1c1cbf;
    min-height: 600rem;
    background-image: url("../img/beer-footer.jpg");
    background-attachment: fixed;
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
}

.bg-blonde {
    background-color: rgba(141, 86, 13, 0.502);
}

.bg-crimson {
    background-color: #9931288c;
}

.bg-blue {
    background-color: #286c998c;
}

.bg-craft {
    background-color: #191828bd;
}

.bg-section {
    background-color: #ffffff;
}

.btn-product {
    padding: .8rem 3rem;
    border-radius: 3rem;
    border: 2px solid #258d5d;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.btn-submit {
    padding: .8rem 3rem;
    border-radius: 3rem;
    background-color: #ffc10720;
    border: 2px solid #ffc107;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
}


/*
    background-color: rgba(247, 156, 38, 0.493);
    
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) background-color 2s;
    */


/* The hero image */

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.95;
}

.hero-product {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Sirviendo_test.jpg");
    height: 100vh;
    width: 100%;
    background-position: 0% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    filter: grayscale(0.35);
    z-index: 1;
}


/* Place text in the middle of the image */

.hero-text {
    text-align: center;
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-product-text {
    text-align: right;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navbar {
    min-width: 100%;
    height: 10vh;
    right: 0%;
    z-index: 2;
}

.navbar-index {
    position: absolute;
    top: 80vh;
    min-width: 100%;
    height: 20vh;
}

.navbar-index2 {
    position: absolute;
    top: 70vh;
    min-width: 100%;
    height: 20vh;
}

.btn-nav-main {
    padding: 1rem 0;
    /*
    background-color: #1e4866;
    */
    background-color: #0d0b12;
    color: rgb(179, 174, 174);
    font-size: 1.4rem;
    font-weight: 700;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    transition: opacity .5s ease-in-out;
}

.btn-nav-main:hover {
    opacity: 1;
    color: rgb(179, 174, 174);
    transition: opacity .5s ease-in-out;
}

.btn-main {
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: rgb(255, 202, 202);
    background: #ff4545c2;
    border: 2px solid #ff4545;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    font-weight: bold;
    transition: all .3 ease-out;
}

.btn-main:hover {
    background: rgb(123, 117, 94);
    color: #bab28f;
    border: 2px solid #bab28f;
    font-weight: bold;
    transition: all .3 ease-out;
}

.border-main {
    border-radius: 1rem;
    padding: 1rem;
    background: #191828bd;
    border: 2px solid #bab28f;
}

.border-main.product {
    border-radius: 1rem;
    padding: 1rem;
    background: #19182852;
    border: 2px solid #bab28f;
    font-weight: bold;
}

.border-main p {
    color: #bab28f;
    margin: 0;
}

.border-main span {
    color: #bab28f;
}

.btn-social em,
.btn-social p {
    color: #bab28f;
    background: #191828bd;
    border: 2px solid #bab28f;
    font-size: 1.875rem;
    padding: 0.3125rem;
    width: 3.75rem;
    height: 3.75rem;
    text-align: center;
    line-height: 2.8125rem;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    transition: all .3s ease-in;
}

.btn-social em:hover,
.btn-social p:hover {
    background: rgb(123, 117, 94);
    color: #bab28f;
    border: 2px solid #bab28f;
    -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    transition: all .3s ease-out;
}

.navbar ul,
.navbar-index ul {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.navbar li,
.navbar-index li {
    display: block;
    border-right: 2px solid #0d0b12;
    flex: calc(100/6);
    min-height: 100%;
}

.navbar li:last-child {
    border-right: none;
}

.line-3 {
    padding: 1.5px;
    width: 100px;
    background: #0d0b12;
}

.line-3.products {
    background-color: #bab28f;
}

.section-container {
    min-height: 100vh;
}

.section-container:first-of-type,
.section-title:first-of-type {
    margin-top: 3rem;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
}

.color-primary {
    color: #0d0b12!important;
}


/* Container product*/

.container-product {
    position: relative;
    max-width: 100%;
}

.container-product:hover .overlay {
    opacity: .9;
}

.image-overlay {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0d0b12;
}

.product-container {
    max-width: 100%;
    margin-bottom: 3rem;
}

.product-container img {
    width: 35rem;
}

.product-description {
    padding: 3rem 0rem;
    margin: 0 3rem;
    font-family: 'Akaya Kanadaka', cursive;
}

.product-description h4 {
    font-size: 1.9rem;
    font-weight: bold;
    color: #ffffff;
}

.product-description h5 {
    font-size: 1.4rem;
    font-family: 'Akaya Kanadaka', cursive;
    color: #cccccc;
}

.product-description p {
    color: #cccccc;
}

.border-info-product {
    border: 2px solid #cccccc;
}

.border-info-product p {
    margin: 0;
    padding: 1rem;
    font-weight: bold;
    color: #cccccc;
}

.box-shadow {
    box-shadow: 6px 10px 30px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 10px 30px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 10px 30px -1px rgba(0, 0, 0, 0.75);
}


/*tabs*/

.nav-pills .nav-link {
    border-bottom: 2px solid #41404f;
    border-radius: 0%;
}

.nav-pills .nav-link.active {
    background-color: transparent;
    border-radius: 0%;
    border-bottom: 2px solid #873449;
}

.nav-item::before {
    float: right;
    display: block;
    padding: 7px;
    color: #873449;
    content: ">";
    font-weight: bolder;
}

.nav-item:last-child::before,
.nav-item:nth-last-child(2)::before {
    display: none;
}

.nav-item:nth-last-child(1) {
    border-left: 2px solid #873449;
    padding-left: 1rem;
    margin: 0 1rem;
}

.tab-pane {
    margin: 5rem 0;
    min-height: 18rem;
}

.vertical-line-crimson {
    margin: 5rem 2.5rem;
    height: 5.5rem;
    border-right: 2px solid #873449;
}

@media(max-width:1023px) {
    .vertical-line-crimson {
        display: none;
    }
}

.craft-text h5 {
    color: #bab28f;
    font-weight: bold;
}

.craft-text h5:nth-last-child(2) {
    margin-top: 3rem;
}

.embebed-responsive {
    position: relative;
    padding-bottom: 56.25%;
    /* 16/9 ratio */
    padding-top: 30px;
    /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}

.embebed-responsive iframe,
.embebed-responsive object,
.embebed-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#footer p {
    font-size: 1rem;
}

.form-control {
    background-color: #ffffffa8;
}

.form-label {
    color: #b1a56e;
    font-weight: bold;
}

.form-label span {
    color: #873449;
}

textarea {
    resize: none;
    min-height: 6rem;
    overflow-x: hidden;
}

textarea,
input {
    font-weight: bold;
}

form {
    width: 50%!important;
}

#contact-tel {
    width: 50%!important;
}

@media (max-width: 576px) {
    .navbar {
        display: none!important;
    }
    .form-control,
    #contact-tel {
        width: 100%!important;
    }
    form {
        width: 100%!important;
        margin: 0!important;
    }
    .section-container {
        min-width: 100%;
        margin: 3.5rem 0 0 0;
    }
    .bg-contact {
        background: transparent;
    }
}