@include define-product("bg-blue")
@include define-product("bg-crimson")
@include define-product("bg-blonde")
@include define-product("bg-coffee")

/*Productos*/

.product-description
    flex-basis: 100%
    padding: 1rem
    .title,.subtitle
        font-weight: 900
        text-align: center
        margin: 0 0 1rem 0
        @include desktop
            text-align: left
    .title
        //@include skirt($color-white,transparent)
        color: $color-white!important
    //.subtitle,
    .text
        color: $color-grey!important

.product-description .subtitle:before
    content: '-'
    @include tablet
        content: ''
.product-description .subtitle:after
    content: '-'
    @include tablet
        content: ''

/*Ingredients*/
#pills-ingredents
    .card
        max-width: inherit
        @include tablet
            max-width: calc(50% - 4rem)

        @include desktop
            max-width: calc(20% - 2rem)
