@include define-product("bg-blue")
@include define-product("bg-crimson")
@include define-product("bg-blonde")
@include define-product("bg-coffee")
@include define-product("bg-green")
@include define-product("bg-purple")


/*Productos*/

.product-description
    flex-basis: 100%
    padding: 1rem
    .title,.subtitle
        font-weight: 900
        text-align: center
        margin: 0 0 1rem 0
        @include desktop
            text-align: left
    .title
        color: $color-white!important

    .text
        color: $color-grey!important
    @include desktop
    .header .text
        margin: 1rem

.product-description .subtitle:before
    content: '-'

.product-description .subtitle:after
    content: '-'

/*Ingredients*/
#pills-ingredents
    .card
        max-width: inherit
        @include tablet
            max-width: calc(50% - 4rem)

        @include desktop
            max-width: calc(20% - 2rem)
