$size-line: 100px
#elaboracion .line-3,
#contacto .line-3,
#productos .line-3
    background-color: $color-primary
    @include box-shadow

.line-3
    padding: 1.5px
    width: $size-line
    background: $color-secondary
    @include box-shadow

hr
    opacity: 0.8
    width: 80vw
    //border: 4px double #000000
    border-top: 4px double #000000
    border-left: 4px double #000000
    text-align: center
    margin-bottom: 3rem
    border-radius: 1000%

hr:after
    content: '🍻'
    display: inline-block
    position: relative
    top: -15px
    padding: 0 10px
    background: #fff url(https://www.transparenttextures.com/patterns/cardboard.png)
    color: #000000
    font-size: 18px
    border: 4px #000000 double
    //border-left: 4px #000000 double
    //border-right: 4px #000000 double
    border-radius: 50%
    @include box-shadow

.simple
    width: 75%
    display: none
    @include tablet
        display: inline-block
    &:after
        content: '  🍺'
        border: none
        display: none
        @include tablet
            display: inline-block
