// sass-lint:disable indentation
//Variable
$url-bg-image2: '../../img/logo.jpg'
$color-item: #873449
$color-inactive: #41404f
$bg-tabs: #191828

//Mixin
@mixin border-pills($color)
    border-bottom: 2px solid $color

/*Magic*/
#tabs-nav
    display: none
    background-color: $bg-tabs
    opacity: 0.8

#tabs .tab-pane
    min-height: 50vh
    border-top: 1px inset $color-item

#tabs-nav .nav-pills .nav-link
    color: $color-grey
    background-color: transparent
    border-radius: 0%
    @include border-pills($color-inactive)
    letter-spacing: 1.5px

#tabs-nav .nav-pills .nav-link.active
    @include border-pills($color-item)

#tabs-nav .nav-item:last-child::before,
#tabs-nav .nav-item:nth-last-child(2)::before
    display: none

.craft-text
    .subtitle,.title
        font-weight: bold
    .subtitle
        color: $color-primary
        font-size: 1.6rem!important
        text-align: center
        @include tablet
            margin: 2rem 0
            text-align: left

    .title
        color: $color-grey
        font-weight: bold
    p
        color: $color-white

@include tablet
    #tabs-nav .nav-item::before
        float: right
        display: block
        padding: 7px
        color: $color-item
        content: ">"
        font-weight: bolder
    #pills-ingredents-tab
        border-left: 2px solid $color-item
        padding-left: 1rem
        margin: 0 1rem
