h1,
h2,
h3,
h5,
h6,
a,
.title-accordion h2,
.text-product p span {
    font-family: "Special Elite", cursive;
    font-display: swap;
}

h4,
p,
textarea,
input,
button,
label,
.subtitle,
.product-info .text,
.btn,
#footer a {
    font-family: "PT Sans", cursive;
}

q {
    font-family: "PT Sans", cursive;
    letter-spacing: 1.9px
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.text-product p span {
    text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}


/*Mobile first*/

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h1.skirt {
    font-size: $font-size-h3!important;
    @include tablet {
        font-size: $font-size-h1!important;
    }
    @include desktop {
        font-size: $font-size-h1!important;
    }
    @include large {
        font-size: $font-size-h1!important;
    }
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

a {
    font-size: $font-size-p;
}

.title span,
.subtitle {
    font-weight: 900
}

.product-info .text {
    font-weight: 700;
}

.text {
    line-height: 175%;
    letter-spacing: 150%;
}