$padding-navbar: 1.5rem 0rem

.navbar-index
    position: absolute
    top: 80vh
    min-width: 100%
    height: 20vh
    &2
        position: absolute
        top: 70vh
        min-width: 100%
        height: 20vh

.navbar-nav
    padding: $padding-navbar
    @include desktop
        padding: 0

#nav-main.bg-dark
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.7),rgba(0,0,0,.01))!important
    background-color: $bg-dark!important
    @include desktop
    background: linear-gradient(180deg,rgba(0,0,0,1),rgba(0,0,0,0.5),rgba(0,0,0,.01))!important
        background-color: transparent!important
    opacity: 1
    transition: all .3s ease-out

#nav-main.bg-dark:hover
    background-color: $bg-dark!important
    opacity: 1
    transition: all .3s ease-in

$padding-nav-link: 1rem 1.5rem
$font-weight-nav: 900
$border-nav: rgba(255, 255, 255, .55)

/*Navegacion principal*/
#nav-main
    @include desktop
        padding: 0
    @include large
        padding: 0
    .nav-link
        font-weight: $font-weight-nav
        padding: $padding-nav-link
        display: flex
        justify-content: space-between
        flex-direction: row-reverse
        align-items: baseline
        @include tablet
            width: 95%
            margin: 0 auto
            justify-content: space-around

        @include desktop
            display: block
            text-align: center
            &:hover
                background-color: $bg-dark
                transition: all .3s ease-in
        @include large
            display: block
            text-align: center
            &:hover
                background-color: $bg-dark
                transition: all .3s ease-in

#nav-main .nav-item
    border-bottom: 2px solid $border-nav

    @include desktop
        border: none
    @include large
        border: none

#nav-main .nav-item
    &:nth-child(1)
        border-top: 2px solid $border-nav
        @include desktop
            border: none
        @include large
            border: none
    &.social
        padding: $padding-nav-link
        display: flex
        justify-content: space-around
        border-bottom: none
        font-size: $font-size-h5

.social .navbar-link
    color: $color-white
    transition: 1s all ease
    &:hover
        color: opacify($color-white,0.8)
        transition: 1s all ease

.brand
    display: block
    text-align: right
    @include tablet
        text-align: center

.navbar-brand
    display: inline-block
    font-size: $font-size-h6
    padding: 0.5rem 1rem
    border: 3px solid
    border-color: white transparent white white
    border-radius: 50%
