#nosotros
    .image
        display: none
        @include tablet
            display: block
            margin: auto
            & img
                border-radius: 100%
                border: 5px solid #191828
                @include box-shadow

    .title
        font-weight: 900

//#nosotros.section
    //background-color: $bg-white
