#nosotros
    .image
        display: none
        @include tablet
            display: block
            margin: 0 auto
    .title
        font-weight: 900

#nosotros.section
    background-color: $bg-white