$bg-image: "https://www.transparenttextures.com/patterns/brick-wall-dark.png"
.bg-main
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255)), url(https://www.transparenttextures.com/patterns/broken-noise.png);*/
    min-height: 100vh
    background-color: $bg-main
    background-image: url($bg-image)
    background-attachment: fixed

.section
    margin-top: calc(100vh - 2rem)
    min-height: 80vh
    margin: 5rem 0
    .title-container
        @include self-center
        margin: 2.5rem auto
        padding: 2.5rem 0
    
