/*Breakpoints*/

@mixin mobile-xl {
    @media only screen and (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: $breakpoint-xl) {
        @content;
    }
}


/*Layout*/

@mixin self-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin skirt($stroke-color, $color) {
    -webkit-text-stroke: 1px $stroke-color;
    color: $color !important;
}


/*Components*/

@mixin hero {
    filter: grayscale(0.35);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


/*Sombreado*/

@mixin define-product($bg-color-name) {
    //$transparent: 0.20;
    $transparent: 0;
    $bg: map-get($bg-products, $bg-color-name);
    //$texture: "../../img/woods.png";
    $texture: "";
    //todo:Deprecated
    //$bg-url:map-get($bg-image-products, $bg-color-name);
    $font-size: 2.8rem;
    @include tablet {
        $font-size: 2.5rem;
    }
    .#{$bg-color-name} {
        //background-color: transparentize($bg, $transparent);
        background-color: transparentize(darken($bg, 15%), $transparent);
    }
    .#{$bg-color-name} .product-image {
        //@include image-overlay($bg, $bg-texture)
        @include image-overlay(darken($bg, 25%), $texture);
    }
    @include tablet {
        .product-image img {
            border-radius: 1.5%;
            box-shadow: 0px 0px 50px black;
        }
    }
    .#{$bg-color-name} .product-description .title {
        @if $bg-color-name !="bg-coffee" {
            @include skirt($bg, darken($bg, 15%));
        }
        @else {
            @include skirt(complement($color-primary), lighten($bg, 7.5%));
        }
        @include text-shadow;
        letter-spacing: 3px;
        font-size: $font-size;
    }
    .#{$bg-color-name} .product-description .subtitle {
        @if $bg-color-name !="bg-coffee" {
            //@include skirt($bg, lighten($bg, 7.5%));
            //color: lighten($bg, 10.5%);
            //color: $color-grey;
            @include skirt(lighten($bg, 7.5%), $color-grey);
        }
        @else {
            //@include skirt(complement($color-primary), darken($bg, 15%));
            //color: darken($bg, 15%);
            //color: $color-grey;
            @include skirt(complement($color-primary), $color-grey);
        }
        font-size: $font-size * 0.7;
    }
    .#{$bg-color-name} .product-info {
        border-radius: 1rem;
        padding: 1rem;
        background: transparentize($bg-products-info, 0.57);
        @include inset-border($bg);
        @include inset-box-shadow($bg);
        @include tablet {
            width: 75%;
            margin: auto;
        }
        .text {
            margin: 0;
            text-shadow: 2px 2px 2px black;
            @include skirt($bg, #dcd6d6);
            @if $bg-color-name=="bg-coffee" {
                //@include skirt($bg, lighten($bg, 7.5%));
                //color: lighten($bg, 10.5%);
                //color: $color-grey;
                @include skirt(complement($color-primary), $color-grey);
            }
            //color: $color-primary!important;
        }
    }
}

@mixin image-overlay($bg-color, $url-image) {
    flex-basis: 100%;
    padding: 0;
    background-color: black;
    display: block;
    @include tablet {
        //flex-basis: 50%;
        padding: 4%;
        background-position: center;
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    background-color: $bg-color;
    background-image: url($url-image);
}


/*shadow*/

@mixin text-shadow {
    text-shadow: 2px 2px 2px black;
}

@mixin text-shadow-dark {
    text-shadow: 5px 5px 3px #fff;
}

@mixin inset-border($color) {
    border: inset 2px $color;
}

@mixin box-shadow {
    box-shadow: 2px 2px 2px black !important;
}

@mixin inset-box-shadow($color) {
    box-shadow: inset 0px 0px 7px 1px darken($color-primary, 50%);
}