/*Breakpoints*/
@mixin mobile-xl {
    @media only screen and (min-width: $breakpoint-sm) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (min-width: $breakpoint-md) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: $breakpoint-xl) {
        @content;
    }
}

@mixin hero{
    filter: grayscale(0.35);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%
}

@mixin self-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}