/*Fonts*/

$font-size-h1: 3rem;
$font-size-h2: 2.4rem;
$font-size-h3: 1.9rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
$font-size-p: 1rem;

/*Breakpoints*/

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/*Background*/

$bg-main: #1c1c1c;

/*Color*/

$color-white: #fff;
$color-grey:#dcd6d6;
$color-primary: #bab28f;
$color-secondary: #0d0b12;

/*Background*/

$bg-white: #fff;
$bg-dark:#212529;
$bg-products-info:#191828;
$bg-products:("bg-blue":#008fd1, "bg-crimson":#993128, "bg-blonde":#995528, "bg-coffee": #412626);
//TODO:Deprecated
$bg-image-products:( "bg-blue":"../img/celeste.jpg", "bg-crimson":"../img/scotch.png", "bg-blonde":"../img/productov2.jpg", "bg-coffee":"../img/black.jpg");

/*Borders color*/

$border-product: inset 3px $color-primary;

/*shadow*/

$shadow-inset: inset 0px 0px 7px 1px darken($color-primary, 50%);

/*Textures*/

//$bg-texture: "https://www.transparenttextures.com/patterns/candyhole.png";
$bg-texture: "https://www.transparenttextures.com/patterns/cardboard.png";
//$bg-texture:"../../img/woods.png"
$bg-color-texture: bg-main;